@import url(./global.css);

.question-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  padding: 20px;
  height: auto;
  max-width: 300px;
  font-size: 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px #265073;
}

.question-card:last-child {
  margin-bottom: var(--nav-height);
}

.question-card:first-child {
  margin-top: var(--main-margin-top);
}

/* Code from: https://stackoverflow.com/questions/40312901/showing-and-
hiding-something-with-pure-css-with-show-and-hide-button */

#question-card__answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  display: none;
}

#question-card__answer:first-child {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
}

#question-card__answer-button:target #question-card__answer {
  display: inline-block;
}

.question-card__question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

li {
  background-color: #265073;
  color: #cccccc;
  font-size: 16px;
}

#question-card__answer-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.question-card__bookmark {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: transparent;
  border-color: transparent;
}

/* #question-card__answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
} */

.question-card__tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1em;
}
