@import url(./global.css);
/* @import url(./card.css); */

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-color: #265073;
  padding: 20px;
  height: auto;
  width: auto;
  font-size: 1.5rem;
  background: #474747;
  box-shadow: 0px 0px 10px #265073;
  margin-top: var(--main-margin-top);
  margin-bottom: 0;
}

/* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  padding: 20px;
  height: auto;
  max-width: 300px;
  font-size: 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px #265073;
}

.card:last-child {
  margin-bottom: var(--nav-height);
}

.card:first-child {
  margin-top: var(--main-margin-top);
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

li {
  background-color: #265073;
  color: #cccccc;
  font-size: 16px;
}

.answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  display: none;
}*/

textarea {
  width: 300px;
}

label {
  background: #265073;
  color: #f8f4ec;
  border-radius: 6px;
  max-width: fit-content;
  margin-top: 1em;
  text-align: right;
}

#category-select label {
  float: left;
  margin: 1px;
  background: #265073;
  color: #f8f4ec;
  display: flex;
  border-radius: 6px;
  margin: 0px auto 0px auto;
  justify-content: flex-start;
  margin-top: 1em;
  text-align: right;
}

button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
}

p {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  color: #fff;
}

span {
  margin-right: 6px;
}

.question-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  padding: 20px;
  height: auto;
  max-width: 300px;
  font-size: 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px #265073;
  margin-bottom: var(--nav-height);
  margin-top: 0;
}

/* .question-card:last-child {
  margin-bottom: var(--nav-height);
}

.question-card:first-child {
  margin-top: var(--main-margin-top);
} */

/* .question-card__answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  display: none;
} */

#question-card__answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  /* display: none; */
}

#question-card__answer-button:target #question-card__answer {
  display: inline-block;
}

.question-card__question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  background-color: #265073;
  color: #cccccc;
  font-size: 16px;
  max-width: fit-content;
}

#question-card__answer-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.question-card__bookmark {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: transparent;
  border-color: transparent;
}

/* #question-card__answer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: auto;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
} */

.question-card__tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1em;
}
