:root {
  /* color variables */

  /* sizes variables */

  --general-gap: 20px;

  --header-title: 4rem;
  --header-title-line-height: 5rem;

  --regular-text: 1rem;
  --regular-text-line-height: 1.5rem;

  /* calculations */

  --header-height: calc(
    var(--header-title-line-height) + (2 * var(--general-gap))
  );

  --nav-height: calc(
    var(--regular-text-line-height) + (2 * var(--general-gap))
  );

  --main-margin-top: calc(var(--header-height) + var(--nav-height));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cccccc;
  max-width: 400px;
  background-image: url("./images/marvel-wallpaper.jpeg");
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  background: #265073;
  border-bottom-left-radius: var(--general-gap);
  border-bottom-right-radius: var(--general-gap);
  width: 100%;
  height: var(--header-height);
  top: 0;
  display: flex;
  justify-content: center;
}

.app-title {
  padding: var(--general-gap);
  color: #f8f4ec;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: var(--header-title);
  line-height: var(--header-height);
  z-index: 1;
}

main {
  padding: 20px 0 20px 0;
  margin-bottom: var(--nav-height);
  background-image: url("./images/marvel-wallpaper.jpeg");
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  margin-top: var(--main-margin-top);
}

.question-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 16px;
  padding: 20px;
  height: 300px;
  max-width: 300px;
  font-size: 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px #265073;
}

/* Code from: https://stackoverflow.com/questions/40312901/showing-and-
hiding-something-with-pure-css-with-show-and-hide-button */

#cont {
  display: none;
}
#show:target #cont {
  display: inline-block;
}
#show:target #show {
  display: none;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

li {
  background-color: #265073;
  color: #cccccc;
  font-size: 16px;
}

button {
  margin: auto;
}

.card__bookmark {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: none;
}

.card-answer {
  display: flex;
  justify-content: center;
  background-color: #9ad0c2;
  width: auto;
  padding: auto;
  border: 1px solid black;
}

.question-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.navbar {
  position: fixed;
  z-index: 1;
  background: #265073;
  border-top-left-radius: var(--general-gap);
  border-top-right-radius: var(--general-gap);
  width: 96%;
  height: var(--nav-height);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.navbar img {
  margin-top: var(--nav-height);
  width: 45px;
  align-items: center;
}

.navbar-link:hover {
  background-color: #ff0202;
  margin-top: auto;
  width: auto;
}
