.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-color: #cccccc; */
  max-width: 400px;
  background-image: url("./images/marvel-wallpaper.jpeg");
}

main {
  padding: 20px 0 20px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(63, 63, 63, 0.424),
      rgba(104, 104, 106, 0.5)
    ),
    url("../images/marvel-wallpaper.jpeg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}
